[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
pillow = "*"
pycodestyle = "*"
pytest = "*"
pytest-cache = "*"
pytest-cov = "*"
pytest-pep8 = "*"
coveralls = "*"

[dev-packages]

[requires]
python_version = "3"
